* {
  box-sizing: border-box;
}

body {
  margin: unset;
}

.page-wrapper {
  font-family: "Outfit", sans-serif;
  font-size: .85em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container,
.column,
.row,
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  max-height: 60%;
}

.column {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;
  max-width: 55%;
}

figure {
  margin: .25em;
}

.skills {
  text-align: center;
  padding: 0 1em;
}

h1 {
  font-weight: 700;
  margin: 0.25rem;
}

.skills p {
  font-weight: 400;
  padding: 0 3em;
  margin-bottom: 2em;
  color: hsl(220, 15%, 55%);
}

img {
  max-width: 90%;
  margin: 1em;
  border-radius: 0.75em;
}

footer {
  margin-top: 1em;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

/* mobile media query 375 */
@media screen and (min-width: 375px) and (max-width: 425px) {
  .column {
    min-width: 85%;
    max-height: 50%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .skills p {
    padding: 0 2em;
  }
}
